.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;

  tbody {
    text-align: center;

    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }

      td {
        padding: 1rem 0.5rem;
  
        &:nth-child(2) {
          text-align: start;
        }
      }
    }
  }
}