.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-nav {
  width: 100%;
  display: none;

  @media (max-width: 720px) {
    display: block;
  }
}

.back-league-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  div:nth-child(1) {
    margin: 0;
  }
}

.hamburguer-menu {
  cursor: pointer;
}

.display-mobile-nav-routes {
  display: flex;
}

.hide-mobile-nav-routes {
  display: none;
}

.mobile-nav-routes {
  flex-direction: column;

  li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;

    &:nth-child(n + 3) {
      a {
        display: flex;
        align-items: center;

        div {
          margin-right: 1rem;
        }
      }
    }
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 720px) {
    display: none;
  }
}

.nav-routes {
  display: flex;
  align-items: center;

  a {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.5rem 0;
  }
}

.nav-social {
  display: flex;
  align-items: center;

   a:nth-child(1) {
    margin-right: 1rem;
   }
}

.english-premier-league,
.italian-serie-a,
.spanish-la-liga,
.german-bundesliga {
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0 5rem 0 5rem;
}

.english-premier-league {
  background: var(--purple);
}

.italian-serie-a {
  background: var(--blue);
}

.spanish-la-liga {
  background: var(--yellow);
}

.german-bundesliga {
  background: var(--red);
}

.active-english-premier-league {
  border-bottom: 3px solid var(--purple);
  margin-bottom: -3px;
}

.active-italian-serie-a {
  border-bottom: 3px solid var(--blue);
  margin-bottom: -3px;
}

.active-spanish-la-liga {
  border-bottom: 3px solid var(--yellow);
  margin-bottom: -3px;
}

.active-german-bundesliga {
  border-bottom: 3px solid var(--red);
  margin-bottom: -3px;
}

.mobile-active-english-premier-league {
  color: var(--purple);
}

.mobile-active-italian-serie-a {
  color: var(--blue);
}

.mobile-active-spanish-la-liga {
  color: var(--yellow);
}

.mobile-active-german-bundesliga {
  color: var(--red);
}