:root {
  --black-dark: #0f0f0f;
  --black-light: #22242A;

  --white: #fff;

  --purple: #7015A9;
  --blue: #1DA5AD;
  --yellow: #CE933F;
  --red: #DC2939;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
     font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
     font-size: 87.5%; // 14px
  }
}

body {
  background: var(--black-dark);
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
  padding: 1rem 3rem;
}

h1 {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

select {
  color: var(--white);
  font-family: 'Quicksand', sans-serif;
  border: none;
  outline: none;
}